@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'WildWolf';
  src: url('/assets/fonts/WildWolf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeonSpark';
  src: url('/assets/fonts/NeonSpark.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --shadow-color: #f68c00; /* Light theme default */
  --shadow-color-light: #001100;
}

@media (prefers-color-scheme: dark) {
  :root {
    --shadow-color: #5be7dc; /* Dark theme shadow color */
    --shadow-color-light: #5be7dc;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Archivo", sans-serif;
  background-color: #192824;
}

p {
  margin: calc(50vh - 40px) auto 0 auto;
  font-size: 65px;
  text-transform: uppercase;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
  display: block;
  height: auto;
  text-align: center;
}

.neon-effect {
  color: white;
  animation: neon 3s infinite;
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
    0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}

@layer components {
  .button-blue{
    @apply
      rounded-lg
      bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br 
      focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 
      disabled:bg-gray-500 dark:disabled:bg-gray-700 disabled:cursor-not-allowed
      text-white font-medium text-sm text-center py-2.5 px-5
  }
  .button-simple{
    @apply
      rounded-lg
      bg-blue-700 dark:bg-blue-700
      focus:ring-2 focus:ring-blue-200 dark:focus:ring-blue-900 
      hover:enabled:bg-blue-800 disabled:bg-gray-500 dark:disabled:bg-gray-700
      text-white font-medium text-center text-xs whitespace-nowrap
      inline-flex py-2.5 px-3
  }
}