
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.input-box {
  height: max-content;
  padding: 0.5rem;
  outline: none;
  bottom: 1rem;
  right: 1rem;

  &[contenteditable=true]:empty:not(:focus):before {
    content: attr(placeholder);
    pointer-events: none;
    display: block; // For Firefox
  }
}
