@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-blue{
    @apply
      rounded-lg
      bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br 
      focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 
      disabled:bg-gray-500 dark:disabled:bg-gray-700 disabled:cursor-not-allowed
      text-white font-medium text-sm text-center py-2.5 px-5
  }
  .button-simple{
    @apply
      rounded-lg
      bg-blue-700 dark:bg-blue-700
      focus:ring-2 focus:ring-blue-200 dark:focus:ring-blue-900 
      hover:enabled:bg-blue-800 disabled:bg-gray-500 dark:disabled:bg-gray-700
      text-white font-medium text-center text-xs whitespace-nowrap
      inline-flex py-2.5 px-3
  }
}